<% layout('layout') %>
<h2>Create User</h2>

<form method="POST">
  <input name="name" type="text" placeholder="Name" class="form-control mb-2" />
  <input name="email" type="email" placeholder="Email" class="form-control mb-2" />
  <button class="btn btn-success">Save</button>
</form>
